doctype html
html
  head
    title Blog Off!
    meta(charset='utf8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='/css/application.css')
    script(src='/js/application.js')
  body
    main
      p Blog Off is a blog engine for people who need to work offline.
  
